<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Fido Inter Epargn App</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Securité
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/utilisateurs" >Utilisateur</a>
        <a class="dropdown-item" href="#">Privilege</a>
        <a class="dropdown-item" href="#">Activation</a>
        <a class="dropdown-item" href="#">Désactivation</a>
        <a class="dropdown-item" href="#">Reset</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
        Parametrage
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Année</a>
        <a class="dropdown-item" href="#">Mois</a>
        <a class="dropdown-item" href="#">Année / Mois</a>
        <a class="dropdown-item" href="#">Profession</a>
        <a class="dropdown-item"  routerLink="/clients">Client</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
        Traitement
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/versements">Versement</a>
        <a class="dropdown-item" routerLink="/retraits">Retrait</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
        Analyse
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Versement Periodique</a>
        <a class="dropdown-item" href="#">Retrait Periodique</a>
      </div>
    </li>
  </ul>
</nav>

<router-outlet>



</router-outlet>


