<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button (click)="getAll()" class="btn btn-sm btn-outline-info">All</button>
    </li>
    <li>
      <button (click)="getSelected()" class="btn btn-sm btn-outline-info ml-1">Selected</button>
    </li>

    <li>
      <button (click)="getUnSelected()" class="btn btn-sm btn-outline-info ml-1">UnSelected</button>
    </li>

    <li>
      <button (click)="onPrepareNew()" class="btn btn-sm btn-outline-info ml-1">New +</button>
    </li>
  </ul>

  <ul class="navbar navbar-nav ml-auto">
    <li>
      <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
        <input type="text" class="form-control" ngModel name="keyword">
        <button class="btn btn-sm btn-outline-info"><span class="fa fa-search"></span></button>
      </form>
    </li>
  </ul>
</nav>

<div class="container-fluid mt-1">

  <ng-container *ngIf="utilisateurService.listUtilisateur$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="utilisateurService.DataStateEnum.LOADING">
      LOADING
    </ng-container>

    <ng-container *ngSwitchCase="utilisateurService.DataStateEnum.ERROR">
      <div class="alert-danger">{{result.errorMessage}}</div>
    </ng-container>

    <ng-container *ngSwitchCase="utilisateurService.DataStateEnum.LOADED">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Login</th>
          <th>Password</th>
          <th>Etat</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of result.data">
          <td>{{u.nom}}</td>
          <td>{{u.prenom}}</td>
          <td>{{u.login}}</td>
          <td>{{u.password}}</td>
          <td>{{u.actif}}</td>
          <td>

            <button (click)="onPrepareEdit(u)" class="btn btn-sm btn-primary ml-1">
              <span class="fa fa-pencil">&nbsp;Edit</span>
            </button>

            <button (click)="onSelect(u)" class="btn btn-sm ml-1" [ngClass]="u.actif?'btn-success' : 'btn-danger'">
              <span *ngIf="u.actif">UnSelect</span>
              <span *ngIf="!u.actif">Select</span>
            </button>

            <button (click)="onResetPassword(u)" class="btn btn-sm btn-primary ml-1">
              <span class="fa fa-pencil">&nbsp;Reset P</span>
            </button>

            <button (click)="onDelete(u)" class="btn btn-sm btn-danger ml-1">
              <span class="fa fa-trash-o">&nbsp;Del</span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </ng-container>
  </ng-container>
</div>
